<h5 style="padding-top:15px;">Organization</h5>
<%= client.fields_for :organization do |org| %>
    <div class="row-fluid">

      <div class="span10">
        <div class="row-fluid">
          <div class="span3">
            <%= org.select :org_type, options_for_select(["Business type"] + %w(Medical, Legal, Education, Government, Other)), {}, {:class => 'span15 bm_select'} %>
          </div>
          <div class="span7">
            <%= org.text_field :formal_name, :placeholder => "Legal entity name", :class => 'span12' %>
          </div>
          <div class="span5">
            <%= org.text_field :name, :placeholder => "Short name", :class => 'span15' %>
          </div>
        </div>

      </div>
      <div class="span5">
        <p class="super-small">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie magna sed arcu dignissim gravida sit amet
          id odio. Sed tempor pellentesque nisi in semper. Morbi eu velit at nisi pulvinar cursus in id ligula.
        </p>
      </div>

      <div class="row-fluid">
        <h5>Notes</h5>

        <div class="span10">
          <%= text_area_tag(:comment, '', :class => 'span15', :style => 'height:95px') %>
        </div>

      </div>
    </div>

    <hr>

    <h5>Mailing Address(es)</h5>

    <div class="row-fluid">

      <%= org.fields_for :mailing_address do |b| %>
          <div class="span10">
            <div class="row-fluid">
              <div class="span4">
                <%= b.text_field :street, :placeholder => "Main Mailing Address", :class => 'span15' %>
              </div>
              <div class="span3">
                <%= b.text_field :street2, :placeholder => "street2", :class => 'span15' %>
              </div>
              <div class="span2">
                <%= b.text_field :county, :placeholder => "county", :class => 'span15' %>
              </div>
              <div class="span2">
                <%= b.text_field :city, :placeholder => "city", :class => 'span15' %>
              </div>
              <div class="span2">
                <%= b.select :state, options_for_select(["State", "IN", "TX"]), {}, {:class => 'span15'} %>
              </div>
              <div class="span2">
                <%= b.text_field :zip, :placeholder => "zip", :class => 'span15' %>
              </div>
            </div>
      <% end %>

      <div class="span5">
        <p class="super-small">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie magna sed arcu dignissim gravida sit amet
          id odio. Sed tempor pellentesque nisi in semper. Morbi eu velit at nisi pulvinar cursus in id ligula.
        </p>
      </div>

      </div>

      <h5>Other Facility Addresses</h5>

      <div class="row-fluid">

        <%= org.fields_for :schedulable_locations do |c| %>
            <div class="row-fluid">
              <div class="span4">
                <%= c.text_field :street, :placeholder => "Facility Name", :class => 'span15' %>
              </div>
              <div class="span3">
                <%= c.text_field :street2, :placeholder => "Facility Address", :class => 'span15' %>
              </div>
              <div class="span2">
                <%= c.text_field :county, :placeholder => "county", :class => 'span15' %>
              </div>
              <div class="span2">
                <%= c.text_field :city, :placeholder => "city", :class => 'span15' %>
              </div>
              <div class="span2">
                <%= c.select :state, options_for_select(["State", "IN", "TX"]), {}, {:class => 'span15'} %>
              </div>
              <div class="span2">
                <%= c.text_field :zip, :placeholder => "zip", :class => 'span15' %>
              </div>
            </div>
        <% end %>

        <%= org.link_to_add "+ Add address", :schedulable_locations, :class => 'btn ', :id => "add_location_btn" %>

      </div>
    </div>

    <hr>

    <h5>Organization Billing Method</h5>

    <div class="row-fluid">

      <div class="span10">
        <%= org.fields_for :billing_method do |e| %>
            <div class="row-fluid">
              <div class="span4">
                <%= e.select :billing_type, options_for_select(["Select billing method"] + BillingMethod.enumerated_attributes[:billing_type]), {}, {:class => 'span15 bm_select'} %>
              </div>

              <div class="span11 bm_check_checkbox" style="padding-top:5px;">
                <label class="checkbox">
                  <input type="checkbox" class="sameAsP" name="org_billing_same_as_mailing" checked="checked"/>
                  Billing Address is the same a mailing address</label>
              </div>

              <div class="span4 bm_cc_spans">
                <div class="row-fluid">
                  <div class="span15">
                    <%= e.text_field :billing_contact, :placeholder => "contact name", :class => 'span15 bm_billing_name' %>
                  </div>
                </div>
                <%= e.text_field :billing_name, :placeholder => "name", :class => 'span15 bm_billing_name' %>
                <%= e.text_field :cc_number, :placeholder => "credit card number", :class => 'span15 bm_cc_number' %>
                <%= e.text_field :cc_ccv, :placeholder => "card CCV (on back)", :class => 'span15 bm_cc_ccv' %>
                <%= e.date_select :cc_exp, {:placeholder => "card expiration date", :order => [:month, :year], :prompt => {:month => 'Exp month', :year => 'Exp year'}}, :class => 'span15 bm_cc_exp' %>
              </div>

            </div>

            <%= e.fields_for :billing_address do |i| %>

                <div class="row-fluid payment-address-Wrap">
                  <div class="span4">
                    <%= e.text_field :billing_contact, :placeholder => "contact name", :class => 'span15 bm_billing_name' %>
                  </div>
                </div>
                <div class="row-fluid payment-address-Wrap">
                  <div class="span4">
                    <%= i.text_field :street, :placeholder => "Billing Address", :class => 'span15' %>
                  </div>
                  <div class="span3">
                    <%= i.text_field :street2, :placeholder => "Street2", :class => 'span15' %>
                  </div>
                  <div class="span2">
                    <%= i.text_field :county, :placeholder => "County", :class => 'span15' %>
                  </div>
                  <div class="span2">
                    <%= i.text_field :city, :placeholder => "City", :class => 'span15' %>
                  </div>
                  <div class="span2">
                    <%= i.select :state, options_for_select(["State", "IN", "TX"]), {}, {:class => 'span15'} %>
                  </div>
                  <div class="span2">
                    <%= i.text_field :zip, :placeholder => "Zip", :class => 'span15' %>
                  </div>
                </div>

            <% end %>
        <% end %>
      </div>

      <div class="span5">
        <p class="super-small">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
<% end %>

<script>
    $(document).ready(function () {
        $('#add_location_btn').popover({
            title:'what are additional facility addresses?',
            trigger:'hover',
            content:'Other organization facilities at which interpreter services may be scheduled'
        })

        $('.billing-address-Wrap').hide();

        $(".sameAsP").click(function () {

            if ($(this).is(":checked")) {
                $('.billing-address-Wrap').hide();
            } else {
                $('.billing-address-Wrap').show();
            }

        });

        function hideset() {
            $('.bm_check_checkbox, .bm_cc_spans, .billing_address_Wrap').hide();
        }


        $("select.bm_select").change(function () {

            hideset();

            switch ($(this).val()) {
                case "cc":
                    $('.bm_cc_spans').show();

                    break;

                case "invoice":
                    $('.bm_check_checkbox').show();

                    if ($(".sameAsP").is(":checked")) {
                        $('.billing-address-Wrap').hide();
                    } else {
                        $('.billing-address-Wrap').show();
                    }

                    break;
            }

        });

        hideset();

        $(".datepicker").datepicker({
            inline:true,
            dateFormat:'yy-mm-dd'
        });
    });
</script>
