<% if current_user.has_role? :interpreter %>

<ul class="nav nav-list">
	<li class="nav-header">Jobs</li>
	<li class=""><a href="#">Active Jobs</a></li>
	<li><a href="#">Completed Jobs</a></li>
	<li class="nav-header">Work Preferences</li>
	<li><%= link_to 'Availability', available_path %></li>
	<li><a href="#">Black List</a></li>
	<li><a href="#">VRI Settings</a></li>
	<li class="nav-header">Account</li>
	<li><a href="#">Account Settings</a></li>
	<li><a href="#">Payment Settings</a></li>
	<li><a href="#">Insurance Settings</a></li>
	<li class="nav-header">Calendar</li>
	<li><%= link_to 'Assignments', assignments_path %></li>
	<li><%= link_to 'Availability', available_path %></li>
	<li class="nav-header">For Dev</li>
	<li><%= link_to 'Interpreters', interpreters_path %></li>
	<li><%= link_to 'New Job Request', new_job_request_path %></li>
</ul>

<%# end %>


<% elsif current_user.has_role? :client %>

    <ul class="nav nav-list">
      <li class="nav-header">Requests</li>
      <li><%= link_to 'New Interpreter Request', new_job_request_path %></li>
      <li class=""><a href="#">Active Requests</a></li>
      <li><a href="#">Completed Requests</a></li>
      <li><%= link_to 'Recent Interpreters', interpreters_path %></li>

      <li class="nav-header">Account</li>
      <li class=""><%= link_to 'Edit Account', edit_user_registration_path %></li>

      <li class="nav-header">For Dev</li>
      <li><%= link_to 'Interpreters', interpreters_path %></li>
      <li><%= link_to 'New Job Request', new_job_request_path %></li>
    </ul>

<%# end %>

<% elsif current_user.has_role? :admin %>

<ul class="nav nav-list">
	<li class="nav-header">Calendar</li>
	<li><%= link_to 'Assignments', assignments_path %></li>
	<li class="nav-header">Jobs</li>
	<li><%= link_to 'New Job Request', new_job_request_path %></li>
</ul>
<% else %>
<ul><li></li></ul>
<% end %>