<div class="container" style="margin-top:70px">

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

      <h2 class="form-signin-heading">Sign Up</h2>

      <% unless devise_error_messages!.empty? %>
          <div id="errors" class="alert alert-error fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <%= devise_error_messages! %>
          </div>
      <% end %>

      <%= f.email_field :email, :class => "input-block-level required", :placeholder => "Email address" %>
      <%= f.password_field :password, :class => "input-block-level required", :placeholder => "Password" %>
      <%= f.password_field :password_confirmation, :class => "input-block-level required", :placeholder => "Confirm Password" %>
      <br/>

      <%= f.submit "Lets get started", :class => "btn next" %> <%= link_to "Cancel", root_path, :class => "" %>
      <br/><br/><br/>
      Have you already signed up? <%= link_to 'Login', new_user_session_path %>

  <% end %>

</div>
